<div class='header'>
  <h1>{{title}}</h1>
</div>

<div>
  <form action="/submit-top-points" method="post">
    <fieldset>
      <label>
        Точка 1
      </label>
      <input type="text" name="x1" value = "{{x1}}" >
      <input type="text" name="y1" value = "{{y1}}" >
    </fieldset>
    <fieldset>
      <label>
        Точка 2
      </label>
      <input type="text" name="x2" value = "{{x2}}" >
      <input type="text" name="y2" value = "{{y2}}" >
    </fieldset>
    <fieldset>
      <label>
        Точка 3
      </label>
      <input type="text" name="x3" value = "{{x3}}" >
      <input type="text" name="y3" value = "{{y3}}" >
    </fieldset>
    <fieldset>
      <input type="submit" value="Занести точки">
    </fieldset>
  </form>
<div>

<div class='footer'>
  <a href="/">Main</a>
</div>
