<div class='header'>
  <h1>{{title}}</h1>
</div>

<div>
  <h3>Полученный точки</h3>
  <p>({{x1}}, {{y1}})</p>
  <p>({{x2}}, {{y2}})</p>
  <p>({{x3}}, {{y3}})</p>
</div>

<div class='footer'>
  <a href="/">Main</a>
</div>
